@charset "utf-8";
/* CSS Document */

#machine-overview .overview-index{
	margin:0px;
	float:left;
	width:320px;
}
#machine-overview .overview-index .cutoffLine,.overview-index .above,.overview-index .below{
	background-color:#BFBFBF;
	}
#machine-overview .overview-index div{
	float:left;
	}
#machine-overview .overview-index .above {
	text-align: left;
	width: 320px;
	height: 44px;
	color: white;
	font-size: 16px;
	font-family: "黑体";
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	border-radius: 30px 30px 0px 0px;
}
#machine-overview .overview-index .below {
	text-align: left;
	width: 320px;
	height: 165px;
	color: white;
	font-size: 16px;
	font-family: "黑体";
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	border-radius: 0px 0px 30px 30px;
}
#machine-overview .overview-index .cutoff{
	width:320px;
	background-color:#bfbfbf;
	}

#machine-overview .overview-index .cutoffLine {
	margin:0px 10px 0px 10px;
	width: 300px;
	height: 1px;
	background-color:#f5f5f5;
    overflow:hidden;
	background-image: url(terminal/cutoffLine813.png);
	background-repeat: repeat;
}
#machine-overview .colorTedericBlue {
	background-color: #015097;
}
#machine-overview .color-tederic-gray {
	background-color: #BFBFBF;
}
#machine-overview .overview-index .circle {
	float:left;
	width: 14px;
	height: 14px;
	background: red;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
#machine-overview .overview-index .above ul{
	margin:13px 0px 0px 23px;
	padding:0px;
	}
#machine-overview .overview-index .above li:first-child{
	margin:2px 4px 0px 0px;
	}

#machine-overview .overview-index .info{
	margin:12px 0px 0px 0px;
	}
#machine-overview .overview-index .info table td{
	height:23px;
	padding:0px;
	}
#machine-overview .overview-index .info div{
	width:100px;
	text-align:right;
	}
#machine-overview .overview-index .info table td:nth-child(2n) div{
	margin-right:20px;
	width:100px;
	text-align:left;
	}
#machine-overview .pie{
		text-align:left;
	margin:10px 0px;
	width:80px;
	height:80px;
}


